.container {
    position: relative;
    overflow: hidden;
}

.image {
    transition: transform 0.3s ease-in-out;
    border-radius: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 6px;
}

.container:hover .image {
    transform: scale(1.1);
    border-radius: 6px;

}

.container:hover .overlay {
    opacity: 1;
    border-radius: 6px;
}