@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
  }
  .animate-bounce-very-slow {
    animation: bounce-slow 7s ease-in-out infinite;
  }