.ant-steps-item-icon,
.ant-steps-icon {
  background-color: #3A0CA3 !important;
  color: #fff !important;
}

.ant-steps-item-active::before{
    background-color: #3A0CA3 !important;
}

.ant-checkbox-wrapper.ant-checkbox-wrapper-checked .ant-checkbox-inner {
    background-color: #3A0CA3;
    border: none !important;
  }
.ant-checkbox-wrapper:hover .ant-checkbox-inner{
    color: white !important;
    background-color: #3A0CA3 !important;
}